.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.lessBold, .itemTitle { 
    font-weight: 500;
}

.itemTitle { 
    font-size: 1.4em;
}

.items { 
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    max-width: 370px;
    gap: 25px;
}

.itemImage {
    width: 120px;
    aspect-ratio: 1;
    object-fit: contain;
}

.itemControls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.itemControlsQuantity input {
    width: 75px;
    height: 35px; 
}

.checkout { 
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: fixed;
    bottom: 20px;
    right: 50px;
    font-size: 1.2em;
}