.splash {
    color: white;
    position: relative;
}

.splashImage {
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
}

.splashDesc {
    position: absolute;
    bottom: 25%;
    right: 15%;
}

.splashDesc p {
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 15px;
}

.featured {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.featured h1 {
    text-transform: uppercase;
}

.items {
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 250px;

    transition: scale 0.2s;
}

.item:hover { 
    cursor: pointer;
    scale: 1.1;
}

.itemImage {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.item p {
    font-size: 1.2em;
}

.itemTitle {
    font-weight: 600;
}