:root {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.standardButton { 
    background-color: rgb(0, 105, 204);
    color: white;
    border: 0px;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 600;
    text-transform: capitalize;
}