.item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.itemImage {
    width: 400px;
    aspect-ratio: 1;
    object-fit: contain;
}

.itemPrice {
    font-size: 1.4em;
}

.itemDesc {
    font-size: 1em;
}

.itemControls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.itemControlsQuantity {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.itemQuantityInput {
    width: 70px;
    height: 30px;
    font-size: 1em;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    text-align: center;
}

.itemQuantityInput:focus {
    border-color: var(--blue-color);
}

.transparentButton {
    background: none;
    border: none;
    font-size: 1.25em;
    font-weight: 600;
}

p,
h2 {
    margin-top: 5px;
    margin-bottom: 7px;
}

hr {
    margin-bottom: 15;
}