.bar {
    padding: 1px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 2;
    width: 100%;
    height: 77px;
    top: 0px;
    position: fixed;
}

.opaqueBar {
    background-color: black;
}

.transparentBar { 
    background-color: rgba(0, 0, 0, 0.4);
}

.redirect {
    all: unset;
}

.redirect:hover {
    cursor: pointer;
}

.left {
    margin-left: 20px;
}

.right {
    margin-right: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.logo {
    text-indent: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.icon {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    width: 2em;
}