.storeMain { 
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.items { 
    display: grid;
    width: 90%;
    grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );
    gap: 50px;
}